<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parse.wallet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="WalletApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:allowBackup="true" >
        
        <activity
            android:name="com.parse.wallet.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.parse.wallet.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>        
        <activity
            android:name="com.parse.wallet.MeActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
        </activity>        
        
        <!-- Needed to make push notifications work on your app -->
        <service android:name="com.parse.PushService" />
        
    </application>
</manifest>
